body {
  /* background-color: rgb(172, 211, 246); */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url('https://plus.unsplash.com/premium_photo-1661663603858-2df08fe3d65d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}
h1,
h2 {
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.input-section label {
  font-weight: bold;
  margin-right: 10px;
}
.input-section input {
  padding: 5px;
  margin-right: 10px;
}
.input-section button {
  padding: 5px 10px;
  background-color: rgb(242, 73, 129);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.expenses-list {
  margin: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: black;
  color: rgb(253, 253, 250);
}
tfoot td {
  font-weight: bold;
}
.delete-btn {
  padding: 5px 10px;
  background-color: rgb(198, 69, 69);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
